/* line 5, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/mark/repos/shortcode-picker/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 29, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 41, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
html, body {
  width: 100%;
  height: 100%; }

/* line 46, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
body {
  background-color: white;
  color: white;
  font-family: "sax-mono", monospace;
  line-height: 1.4;
  overflow: hidden; }

/* line 57, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: white;
  outline: 0;
  display: block;
  float: left; }

/* line 67, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.info-container {
  width: 14.28571%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222; }

/* line 76, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.picker-container {
  width: 85.71429%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 14.28571%; }
  /* line 8, /Users/mark/repos/shortcode-picker/src/sass/_mixins.scss */
  .picker-container:after {
    content: "";
    display: table;
    clear: both; }

/* line 87, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.plus-vals-container, .minus-vals-container {
  width: 100%;
  height: 8.33333%; }

/* line 94, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.R-plus, .R-minus, .G-plus, .G-minus, .B-plus, .B-minus {
  width: 33.33333%;
  height: 100%; }
  /* line 98, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
  .R-plus span, .R-minus span, .G-plus span, .G-minus span, .B-plus span, .B-minus span {
    font-size: 1.5em;
    display: inline-block;
    height: 1.1em;
    padding-top: 0.2em; }

/* line 128, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.vals-container {
  width: 100%;
  height: 16.66667%; }

/* line 135, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.R-val, .G-val, .B-val {
  float: left;
  height: 100%;
  width: 33.33333%;
  position: relative; }
  /* line 141, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
  .R-val span, .G-val span, .B-val span {
    position: absolute;
    font-size: 4em;
    display: inline-block;
    height: 1.15em;
    top: 50%;
    text-shadow: 1px 0px 0 white, 0px 1px 0 white, -1px 0px 0 white, 0px -1px 0 white, 1px 1px 0 white, -1px -1px 0 white; }

/* line 159, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.R-val span {
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 164, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.G-val span {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 169, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.B-val span {
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 199, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.RGB-plus, .RGB-minus, .sat-plus, .sat-minus {
  width: 100%;
  height: 16.66667%;
  position: relative; }
  /* line 204, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
  .RGB-plus span, .RGB-minus span, .sat-plus span, .sat-minus span {
    font-size: 3em;
    display: inline-block;
    height: 1.15em; }

/* line 223, /Users/mark/repos/shortcode-picker/src/sass/styles.scss */
.sat-minus {
  height: 17.66667%; }
